/* This is a comment */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

body,
.heading-one,
.header {
    margin: 0 auto;
}

.header {
    background-color: black;
    height: auto;
    margin-bottom: 50px;
}

.heading-one {
    color: white;
    font-size: 48px;
    text-align: center;
    padding: 110px;
    }

.heading-two {
    margin-top: 100px;
}

.recipe-list {
    line-height: 200%;
    list-style-type: square;
}

.menu {
    padding: 20px 250px;
}

.img-line { 
    margin: -100px auto;
    width: 820px;
    height: auto;
}

img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 10px;
    border-radius: 25px;

}